.form-label {
    text-align: left;
}

#contactHeading {
    text-align: left;
    margin: auto;
}

#contactCard {
    width: 50%;
}

#buttonContact {
    padding-left: 90%;
<<<<<<< HEAD
}

=======
    
}
>>>>>>> d55579d7a12b85cb73d43c02e3ac48ebfc8bebb6
.nav-wrapper {
    background-color: rgb(39, 39, 39) !important;
}

.nav-wrapper a,
.nav-wrapper a:hover {
    color: #ccc;
}

.navbar-nav .nav-link.active {
    color: #ccc !important;
}

.services-wrapper img {
    border-radius: 50%;
    width: 50%;
    height: 200px;
}